{% extends 'main.html' %}
<!-- {% include 'navbar.html' %} Importing Nav bar (Template Inheritance)  -->
{% block content %}
<h1>Single Project Template</h1>
<p>  File "<frozen importlib._bootstrap>", line 680, in _load_unlocked
    File "<frozen importlib._bootstrap_external>", line 846, in exec_module
    File "<frozen importlib._bootstrap_external>", line 983, in get_code
    File "<frozen importlib._bootstrap_external>", line 913, in source_to_code
    File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
    File "C:\Users\harsh\Desktop\Python-Django\devfolio\devfolio\settings.py", line 63</p>

{% endblock %}